.user-profile {
  padding: 15px;

  img {
    max-width: 120px;
    border: 5px solid #e7e7e7;
  }
}

.panel-heading {
  padding: 0 15px !important;

  .user-img {
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  a {
    line-height: 4;
    float: right;
  }
}